<header class="header-container background-primary" data-spy="affix" data-offset-top="58">
  <div class="navbar-before mobile-hidden navbar-before-inverse">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <div class="header-block">
                      <div class="block1">
                       
                        <span>  <strong> {{('header.satasaftion' | translate)}}</strong> {{('header.pecent-satasaftion' | translate)}} </span>
                      </div>
                      <div class="block2">
                        <span><strong>{{('header.free-shopping' | translate)}}</strong>   {{('header.orders-over' | translate)}} </span>
                      </div>
                      <div class="block3">
                        <span><strong> {{('header.FAQ-msg' | translate)}}</strong>فترة الاسترجاع</span>
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-5 left">
                  <ul class=" navbar-right navbar-right-no-mar">
                      <li><a href="#">  <span class='material-icons'>favorite</span>{{('header.fav-list' | translate)}}</a></li>
                      <li><a href="#"><span class="material-icons">bar_chart</span> {{('header.Compare-msg' | translate)}}</a></li>
                      <li><a href="#"> {{('header.FAQ-msg' | translate)}}</a></li>
                      <li><a href="#">{{('header.Terms-msg' | translate)}}</a></li>
                      <li><a href="#">{{ ('header.help-msg' | translate)}}</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>




</header>

