
<nav class="navbar-default navbar-main-white yamm">
    <div class="container">
        <div class="collapse navbar-collapse navbar-collapse-no-pad" id="main-nav-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-navicon"></i>&ensp;المنتجات<i class="drop-caret"></i></a>
                    <ul class="dropdown-menu dropdown-menu-category">
                        <li><a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>كافة المنتجات</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">كافة المنتجات</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">الرئيسية</a>
                                                        <p>نبذة عن محتوى التصنيف نبذة عن محتوى التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>نبذة عن التصنيف نبذة عن التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>نبذة عن التصنيف نبذة عن التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>نبذة عن محتوى التصنيف نبذة عن محتوى التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>نبذة عن التصنيف نبذة عن التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>نبذة عن محتوى التصنيف نبذة عن محتوى التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>نبذة عن التصنيف نبذة عن التصنيف.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">تطوير المنتجات</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">تطوير الرئيسية</a>
                                                        <p>نبذة عن محتوى التصنيف نبذة عن محتوى التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>نبذة عن التصنيف نبذة عن التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>نبذة عن محتوى التصنيف نبذة عن محتوى التصنيف.</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>نبذة عن محتوى التصنيف نبذة عن محتوى التصنيف.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/2.png" alt="" style="left: -10px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-025-new dropdown-menu-category-icon"></i>الأكثر رواجاً</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">الأكثر رواجاً</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السابع</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثامن</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">الأكثر رواجاً</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/3.png" alt="" style="left: -10px; bottom: -10px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-black-tie dropdown-menu-category-icon"></i>إكسسوارات / رجالي</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">إكسسوارات / رجالي</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السابع</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثامن</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">إكسسوارات / رجالي</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/4.png" alt="" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-012-lipstick dropdown-menu-category-icon"></i>إكسسوارات / حريمي</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">إكسسوارات / حريمي</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السابع</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">إكسسوارات / حريمي</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/5.png" alt="" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-047-shopping-bag dropdown-menu-category-icon"></i>حقائب</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">حقائب</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السابع</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/6.png" alt="" style="left: -20px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-001-dress dropdown-menu-category-icon"></i>أزياء</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">أزياء</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السابع</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثامن</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">Category Nine</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/7.png" alt="" style="left: -39px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-049-shop dropdown-menu-category-icon"></i>مستلزمات / البيت</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">مستلزمات / البيت</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">مستلزمات / البيت</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">BMW</a></li>
                                                    <li><a href="#">Nissan</a></li>
                                                    <li><a href="#">Honda</a></li>
                                                    <li><a href="#">Audi</a></li>
                                                    <li><a href="#">Mercedes-Benz</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/9.png" alt="" style="left: -27px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-008-backpack dropdown-menu-category-icon"></i>مطابخ</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">مطابخ</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">مطابخ</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/11.png" alt="" style="left: -100px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="flaticon-006-shoes dropdown-menu-category-icon"></i>أحذية</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">أحذية</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">أحذية</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/12.png" alt="" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-mobile dropdown-menu-category-icon"></i>إكسسوارات موبايل</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">إكسسوارات موبايل</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">إكسسوارات موبايل</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">BMW</a></li>
                                                    <li><a href="#">Land Rover</a></li>
                                                    <li><a href="#">Nissan</a></li>
                                                    <li><a href="#">Honda</a></li>
                                                    <li><a href="#">Ford</a></li>
                                                    <li><a href="#">Porsche</a></li>
                                                    <li><a href="#">Audi</a></li>
                                                    <li><a href="#">Mercedes-Benz</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/13.png" alt="" style="left: -15px; bottom: -15px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>أطفال</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <h5 class="dropdown-menu-category-title">أطفال</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/14.png" alt="" style="left: -15px;" /> -->
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>منتجات عامة</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">منتجات عامة</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">التصنيف الاول</a>
                                                        <p>Vel dolor duis libero ligula</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثاني</a>
                                                        <p>Magnis consectetur facilisi habitasse curae</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثالث</a>
                                                        <p>Semper maecenas habitasse metus scelerisque</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الرابع</a>
                                                        <p>Consectetur placerat leo aenean sagittis</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الخامس</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السادس</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                    <li><a href="#">التصنيف السابع</a>
                                                        <p>Arcu eros vitae netus porta</p>
                                                    </li>
                                                    <li><a href="#">التصنيف الثامن</a>
                                                        <p>Senectus non consectetur felis litora</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <img class="dropdown-menu-category-section-theme-img" src="images/ar/15.png" alt="" style="height: 100%;" /> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">خدماتنا<i class="drop-caret"></i></a>
                    <ul class="dropdown-menu dropdown-menu-category no-icon">
                        <li><a href="#">الخدمة الأولي</a></li>
                        <li><a href="#">الخدمة الثانية</a></li>
                        <li><a href="#">الخدمة الثالثة</a></li>
                        <li><a href="#">الخدمة الرابعة</a></li>
                        <li><a href="#">الخدمة الخامسة</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="navbar-item-top" href="products.html">صفقة اليوم</a></li>
                <li class="dropdown"><a class="navbar-item-top" href="products.html">الأكثر رواجاً</a></li>
                <li class="dropdown"><a class="navbar-item-top" href="products.html">منتجات مميزة</a></li>
                <li class="dropdown"><a class="navbar-item-top" href="products.html">الأحداث</a></li>
                <li class="dropdown"><a class="navbar-item-top" href="blog.html">مدونتا</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="navbar-item-top">الشحن</a></li>
                <li><a href="#" class="navbar-item-top">الدعم</a></li>
                <li><a href="#" class="navbar-item-top">خدمة العملاء</a></li>
                <li><a href="#" class="navbar-item-top">EN</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg ">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active nav-link dropdown-toggle products" aria-current="page" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">  <i class="fa fa-navicon"></i>&ensp;المنتجات<i class="drop-caret"></i> </a>
              <ul class="dropdown-menu dropdown-menu-lg-end menu-producet ">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> خدماتنا </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> صفقه اليوم </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">الأكثر رواجاً</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="#"> منتجات مميزه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> الأحداث </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> مداونتنا </a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#"> الشحن </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> الدعم </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">  خدمه العملاء</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">EN</a>
            </li>
           
          
          </ul>
      
      </div>
    </div>
  </nav>