<nav class="navbar navbar-default navbar-main-white navbar-pad-top navbar-first header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="../../../../../assets/images/header/logo.png" alt="" />
            </a>
        </div>
        <form class="col-md-6 col-md-offset-1" role="search">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Category One</a></li>
                      <li><a href="#">Category Two</a></li>
                      <li><a href="#">Category Three</a></li>
                      <li class="divider"></li>
                      <li><a href="#">All</a></li>
                    </ul> -->
                    <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a class="dropdown-item" href="#">Category One</a></li>
                        <li><a class="dropdown-item" href="#">Category Two</a></li>
                        <li><a class="dropdown-item" href="#">Category Three</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a  class="dropdown-item" href="#">All</a></li>
                      </ul>
                </div>
                <div class="btn-group">
                    <!-- <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                      Default dropdown
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul> -->
                  </div>

                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                </span>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right navbar-mob-item-left ">
            <div class="navbar-header">
                <!-- <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false">
                    <span class="sr-only">Main Menu</span>
                  <i class="fa fa-bars"></i>
                </button> -->
            </div>
            <!-- <div> -->
                <li><a href="#" class="popup-text"><i class="fa fa-user"></i> <div  class="title-user"> <span >مرحباَ بك</span>  <span> تسجيل الدخول</span> </div></a></li>
            <!-- </div> -->
           
            <!-- <div> -->
                <li class="top-cart-contain" id="div_cart_layout_main">
                    <div class="mini-cart" id="div_cart_layout">
                      
                        <div data-bs-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle cart_anchor">
                            <a href="#" class="b-cart">
                                <div class="cart-box">
                                    <span class="title hidden-xs"><div>عناصر </div>السلة</span>
                                    <span id="cart-total" class="b-cart__count m-xs-0">3 </span>
                                </div>
                            </a>
                        </div>
                          <ul class="dropdown-menu" role="menu">
                            <li class="item even row" id="_div_cart" item_id="12408" qty="8.00">
                                <div class="col-xs-12 p-0">
                                    <div class="col-xs-4 float-left">
                                        <a class="product-image" href="#">
                                            <img src="images/home_md_att_25881894_0_2020102818293718.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-left float-left p-0">
                                        <div class="detail-item m-0 d-inline">
                                            <div class="product-details">
                                                <a href="#">
                                                    <span class="d-block">كوتشى مستورد جلد فى قماش</span>
                                                </a>
                                            </div>
                                            <div class="product-details-bottom float-left">
                                                <div class="d-block">
                                                    <span class="special-price">
                                                        <span id="product-price-212" class="price">170</span>
                                                        <span class="price">EGP </span>
                                                    </span>
                                                    <span class="old-price">
                                                        <span id="old-price-212" class="price gray mr-10"> 230 </span>
                                                    </span>
                                                </div>
                                                <span class="title-desc">Qty:</span> <strong>8</strong><span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 float-left text-right">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-close fa-lg orange delete_from_cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            
                            <li class="item even row" id="_div_cart" item_id="15108" qty="1.00">
                                <div class="col-xs-12 p-0">
                                    <div class="col-xs-4 float-left">
                                        <a class="product-image" href="#">
                                            <img src="images/home_md_att_63034072_1_2020115144942281.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-left float-left p-0">
                                        <div class="detail-item m-0 d-inline">
                                            <div class="product-details">
                                                <a href="#">
                                                    <span class="d-block">Baby Born Boy</span>
                                                </a>
                                            </div>
                                            <div class="product-details-bottom float-left">
                                                <div class="d-block">
                                                    <span class="special-price">
                                                        <span id="product-price-212" class="price">119</span>
                                                        <span class="price">EGP </span>
                                                    </span>
                                                    <span class="old-price">
                                                        <span id="old-price-212" class="price gray mr-10"> 199 </span>
                                                    </span>
                                                </div>
                                                <span class="title-desc">Qty:</span> <strong>1</strong><span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 float-left text-right">
                                        <a href="#">
                                            <i class="fa fa-close fa-lg orange delete_from_cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="item even row">
                                <div class="col-xs-12 p-0">
                                    <div class="col-xs-4 float-left">
                                        <a class="product-image" href="#">
                                            <img src="images/home_md_att_73813227_0_2020101122614961.png" style="width:70px;height:57px">
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-left float-left p-0">
                                        <div class="detail-item m-0 d-inline">
                                            <div class="product-details">
                                                <a href="#">
                                                    <span class="d-block">محفظة كبلنج</span>
                                                </a>
                                            </div>
                                            <div class="product-details-bottom float-left">
                                                <span class="price d-block">239 EGP</span>
                                                <span class="title-desc">Qty:</span> <strong>1
                                                </strong><span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 float-left text-right">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-close fa-lg orange delete_from_cart"></i>
                                        </a>
                                    </div>
                                </div>

                            </li>
                            <div class="top-subtotal">
                                Subtotal:
                                <span class="price">1718 </span>
                                <span class="price">EGP</span>
                            </div>
                              <div class="actions p-0 mt-5">
                                    <a href="#" class="btn btn-search float-left">
                                        <i class="fa fa-check"></i> Checkout
                                    </a>
                                    <a href="#" class="float-right btn btn-save">
                                        <i class="fa fa-shopping-cart"></i> Shopping Cart
                                    </a>
                                </div>

                          </ul>
                     
                         <!-- <div class="top-cart-content arrow_box" id="cart_body_fempty">
           
                            <ul id="cart-sidebar" class="dropdown-menu">
                                <input type="hidden" id="newsavedvalue" value="" />
                                <li class="item even row" id="_div_cart" item_id="12408" qty="8.00">
                                    <div class="col-xs-12 p-0">
                                        <div class="col-xs-4 float-left">
                                            <a class="product-image" href="#">
                                                <img src="images/home_md_att_25881894_0_2020102818293718.png">
                                            </a>
                                        </div>
                                        <div class="col-xs-6 text-left float-left p-0">
                                            <div class="detail-item m-0 d-inline">
                                                <div class="product-details">
                                                    <a href="#">
                                                        <span class="d-block">كوتشى مستورد جلد فى قماش</span>
                                                    </a>
                                                </div>
                                                <div class="product-details-bottom float-left">
                                                    <div class="d-block">
                                                        <span class="special-price">
                                                            <span id="product-price-212" class="price">170</span>
                                                            <span class="price">EGP </span>
                                                        </span>
                                                        <span class="old-price">
                                                            <span id="old-price-212" class="price gray mr-10"> 230 </span>
                                                        </span>
                                                    </div>
                                                    <span class="title-desc">Qty:</span> <strong>8</strong><span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 float-left text-right">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-close fa-lg orange delete_from_cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
    
                                <li class="item even row" id="_div_cart" item_id="15108" qty="1.00">
                                    <div class="col-xs-12 p-0">
                                        <div class="col-xs-4 float-left">
                                            <a class="product-image" href="#">
                                                <img src="images/home_md_att_63034072_1_2020115144942281.png">
                                            </a>
                                        </div>
                                        <div class="col-xs-6 text-left float-left p-0">
                                            <div class="detail-item m-0 d-inline">
                                                <div class="product-details">
                                                    <a href="#">
                                                        <span class="d-block">Baby Born Boy</span>
                                                    </a>
                                                </div>
                                                <div class="product-details-bottom float-left">
                                                    <div class="d-block">
                                                        <span class="special-price">
                                                            <span id="product-price-212" class="price">119</span>
                                                            <span class="price">EGP </span>
                                                        </span>
                                                        <span class="old-price">
                                                            <span id="old-price-212" class="price gray mr-10"> 199 </span>
                                                        </span>
                                                    </div>
                                                    <span class="title-desc">Qty:</span> <strong>1</strong><span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 float-left text-right">
                                            <a href="#">
                                                <i class="fa fa-close fa-lg orange delete_from_cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
    
                                <li class="item even row">
                                    <div class="col-xs-12 p-0">
                                        <div class="col-xs-4 float-left">
                                            <a class="product-image" href="#">
                                                <img src="images/home_md_att_73813227_0_2020101122614961.png" style="width:70px;height:57px">
                                            </a>
                                        </div>
                                        <div class="col-xs-6 text-left float-left p-0">
                                            <div class="detail-item m-0 d-inline">
                                                <div class="product-details">
                                                    <a href="#">
                                                        <span class="d-block">محفظة كبلنج</span>
                                                    </a>
                                                </div>
                                                <div class="product-details-bottom float-left">
                                                    <span class="price d-block">239 EGP</span>
                                                    <span class="title-desc">Qty:</span> <strong>1
                                                    </strong><span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 float-left text-right">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-close fa-lg orange delete_from_cart"></i>
                                            </a>
                                        </div>
                                    </div>

                                </li>
                                <div class="top-subtotal">
                                    Subtotal:
                                    <span class="price">1718 </span>
                                    <span class="price">EGP</span>
                                </div>
                
                                <div class="actions p-0 mt-5">
                                    <a href="#" class="btn btn-search float-left">
                                        <i class="fa fa-check"></i> Checkout
                                    </a>
                                    <a href="#" class="float-right btn btn-save">
                                        <i class="fa fa-shopping-cart"></i> Shopping Cart
                                    </a>
                                </div>
                            </ul> 
                        </div>  -->
                    </div>
                </li>
        </ul>
    </div>
</nav>


<!-- <div class="d-flex">
    <div class="dropdown me-1">
     
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <div data-bs-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle cart_anchor">
        <a href="#" class="b-cart">
            <div class="cart-box">
                <span class="title hidden-xs"><div>عناصر </div>السلة</span>
                <span id="cart-total" class="b-cart__count m-xs-0">3 </span>
            </div>
        </a>
    </div>  -->



